body{
    background-color: 
    #2d211b;
}
h2{
    text-align: center;
    margin: auto;
    padding-top:50px;
    padding-bottom: 3px;
    color:#f0e2dd
}

.contact{
    margin: auto;
    width:50%;
    padding: 10px;
    background-color: #f0e2dd;
    border:#683d39 5px dashed;
    overflow: hidden;
}

.ribbon a{
    padding:50px;
    color: #f0e2dd;

}
.ribbon a:hover{
    color:#683d39
}
.ribbon{
    text-align: center ;
    margin:auto;
    margin-bottom: 50px;
    border-top: 
    #683d39 5px solid;
    border-bottom: 
    #683d39 7px double;
    padding:5px
}
h4{
    color:#312322;
    font-size:30px
}
#LINE{
    width:20%;
    margin-left: 0px;
}
#inputs{
    display:flex;
    flex-direction:column;
    width:40%;
   
}
#field{
    margin-bottom:5px;
    background-color:#463534;
    color:#93615c;
    height: 25px;
}
button{
    background-color:#93615c;;
    color:#463534;
    border-color:#93615c;
    margin-top: 2px;
}
.boxy{
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: right;
}

.cart-icon {
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .cart-icon img {
    width: 60px;
    height: 60px;
  }
 
  .cart-count {
    background-color: #ff6347;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    margin-top: -10px;
  }
  
.cart-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
  }
  
.cart-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }
.inner{
    background-color:#ebd5d8;
    margin:30px;
    flex: 1;
}
.links img{
    width:50px;
    height:50px;
    left:40px
}
.links img{
    padding: 5px;
    margin-left: 30px
}
footer{
    background-color: #6d403c;
}
footer h5{
    padding-left:30px;
    padding-top: 30px
}
footer p{
    padding-left:30px;
    padding-bottom: 10px;
}