body{
    background-color: 
    #2d211b;
}
h2{
    text-align: center;
    margin: auto;
    padding-top:50px;
    padding-bottom: 3px;
    color:#f0e2dd
}

#LOGO {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    padding:50px
}

.main{
    margin: auto;
    text-align: center;
    padding:10px;
    background-image: url("images/snacks.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    animation: fadeIn 4s ease-out forwards;
}
.main h1, h4, #LOGO{
    transform: translateX(-50px);
    animation: slideIn 1.5s ease-out both;
}



.snacks #p{
    width:150px;
    height: 150px;
    margin-bottom: 5px;
    border-radius: 10px;
    border:#683d39 3px double;
}

.snacks{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
    width:80%;
}
.snacks div{
    border:  #683d39 4px dashed;
    margin: 20px;
    padding:30px;
    background-color: #946c5c
    ;
    border-radius: 30px;
}

#n{
    width:20px;
    height:20px
}



.ribbon a{
    padding:50px;
    color: #f0e2dd;

}
.ribbon a:hover{
    color:#683d39
}
.ribbon{
    text-align: center ;
    margin:auto;
    margin-bottom: 50px;
    border-top: 
    #683d39 5px solid;
    border-bottom: 
    #683d39 7px double;
    padding:5px
}


.top h3{
    padding: 10px;
    margin-left: 200px;
    margin-right:  200px;
    font-size: 20px;
    border-radius: 40px;
    border:#683d39 2px solid;
    background-image: url("images/gingham.jpg");
    color:#2d211b
}


.about img{
    width:200px;
    height:200px;
    border-radius: 50%;
    border:#683d39 5px double;
    margin:20px;
    max-width: 100%;
}
.about p{
    margin:20px;
    padding:20px;   
    color:#6d403c;
    font-size: 20px;
}
.about{
    background-color:
    #f0e2dd;
    background-size: cover;
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
}
.about h2{
    color:darkred
}
footer{
    background-color: #6d403c;
}
footer h5{
    padding-left:30px;
    padding-top: 30px
}
footer p{
    padding-left:30px;
    padding-bottom: 10px;
}
.inner{
    background-color:#ebd5d8;
    margin:30px;
    flex: 1;
}
.links img{
    width:50px;
    height:50px;
    left:40px
}
.links img{
    padding: 5px;
    margin-left: 30px
}

button{
    border-radius: 5px;
    background-color: #683d39;
    border-color: #946c5c;
    color:#f0e2dd;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.top{
    margin:auto;
    display:flex;
    flex-direction: column;
}
.cart-icon {
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .cart-icon img {
    width: 60px;
    height: 60px;
  }
  
  .cart-count {
    background-color: #ff6347;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    margin-top: -10px;
  }
  
  .cart-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
  }
  
  .cart-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .cart-icon {
      bottom: 10px;
      left: 10px;
    }
  }
  

  @keyframes fadeInOut {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

@media (max-width: 768px) {
    .snacks {
        flex-direction: column;
    }

    .snacks div {
        display: flex;
        flex-direction: column;
    }
    .top h3{
        margin-left: 50px;
    margin-right:  50px;
    }
    .snacks #p{
        margin:auto;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}